:root {
    --light: #e6cbc9;
    --medium: #344767;
    --dark: #242236;
}

.light {
    background-color: var(--light);
    fill: var(--light)
}

.medium {
    background-color: var(--medium);
    fill: var(--medium)
}

.dark {
    background-color: var(--dark);
    fill: var(--dark)
}

.background {
    background-color: var(--dark);
    position: fixed;
    inset: 0;
    z-index: -100;
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        z-index: 2;
        background-image: url('./papier.jpg');
        mix-blend-mode: overlay;
    }
}

.tile {
    width: calc(100vw / 7);
    height: calc(100vw / 7);
    // border: 1px solid yellow;

    &:nth-child(odd) {
        transform: scaleX(-1);
    }
}

.row {
    z-index: 1;
    display: flex;

    &:nth-child(even) {
        transform: scaleY(-1);
    }
}

.cell {
    animation-name: appear;
    animation-duration: 5s;
    animation-delay: attr(data-delay);
    animation-fill-mode: forwards; 
}



@keyframes appear {
    from {
      transform: scale(0);
      opacity: 0;
    }
  
    to {
      transform:scale(1);
      opacity: 1;
    }
  }