:root {
    --light: #e6cbc9;
    --dark: #242236;
    --medium: #344767;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background {
    background-color: var(--dark);
    min-height: 110vh;
    min-width: 110vw;
    position: fixed;
    z-index: -100;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    align-items: center;
    justify-content: center;
    border: 10px solid red;
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url('./papier.jpg');
        mix-blend-mode: overlay;
    }
}

.tile {
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(odd) {
        transform: scaleX(-1);
    }
}

.cell {
    width: calc(100%/13);
    height: calc(100%/13);
    display: block;
    // filter: url(#gooMe);
    transform-origin: center;
}

.light {
    background-color: var(--light);
}

.medium {
    background-color: var(--medium);
}

.dark {
    background-color: var(--dark);
}

h1 {
    color: var(--dark);
}